doctype html
html
  head
    title Beech Baron 58
    link(rel='stylesheet', href='panel.css')
    script(src='../../libs/socket.io.js')
    script(src='../../libs/jquery.min.js')
    script(src='../../libs/portable-sim-panels.js')
    script(type='text/javascript').
      let json;
      window.parent.addEventListener("update", eventHandler, true);
      function eventHandler(update) {
      json = update.detail;
      }
  body
    p 2 Engine Piston
    #GarminG3X
      .leftbar
        object(id='GENERAL ENG RPM:1' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml')
        object(id='GENERAL ENG RPM:2' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml')
        object(id='ENG MANIFOLD PRESSURE:1' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml')
        object(id='ENG MANIFOLD PRESSURE:2' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml')

        object(id='ENG FUEL FLOW PPH:1' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml')
        object(id='ENG FUEL FLOW PPH:2' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml')
        object(id='ENG FUEL FLOW GPH:1' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml')
        object(id='ENG FUEL FLOW GPH:2' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml')

        object(id='RECIP MIXTURE RATIO:1' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml')
        object(id='RECIP MIXTURE RATIO:2' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml')
        object(id='ELEVATOR TRIM POSITION' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml')
        object(id='GEAR TOTAL PCT EXTENDED' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml')
        object(id='ELEVATOR TRIM POSITION' data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
        object(id='TRAILING EDGE FLAPS LEFT ANGLE' data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
        object(id='TRAILING EDGE FLAPS RIGHT ANGLE' data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
        object(id='RECIP ENG CYLINDER HEAD TEMPERATURE:1' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml')
        object(id='RECIP ENG CYLINDER HEAD TEMPERATURE:2' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml')

      .mfd
        object#Garmin-G5(data='../../standardgauges/Garmin-G5.svg', type='image/svg+xml')
      .auxpages
