doctype html
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Beech Baron 58
    link(rel='stylesheet', href='panel.css')
    script(src='../../libs/socket.io.js')
    script(src='../../libs/jquery.min.js')
    script(src='../../libs/portable-sim-panels.js')
    script(src="../../libs/NoSleep.min.js")
    script(src='../../libs/wakeLock.js')
    script(type='text/javascript').
      let config = {};
      let path = window.parent.location.pathname.split("/");
      path.pop();
      path = path.join("/") + "/";
      $.getJSON(path + "config.json", function(json) {
      config = json;
      });
      let json = {};
      window.parent.addEventListener("update", eventHandler, true);
      function eventHandler(update) {
          json = Object.assign(json, update.detail);
      }
  body
    p 2 Engine Piston
    #GarminG3X
      .leftbar
        object(id='GENERAL ENG RPM:1' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml') 'GENERAL ENG RPM:1' gauge
        object(id='GENERAL ENG RPM:2' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml') 'GENERAL ENG RPM:2' gauge
        object(id='ENG MANIFOLD PRESSURE:1' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml') 'ENG MANIFOLD PRESSURE:1' gauge
        object(id='ENG MANIFOLD PRESSURE:2' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml') 'ENG MANIFOLD PRESSURE:2' gauge

        object(id='ENG FUEL FLOW PPH:1' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml') 'ENG FUEL FLOW PPH:1' gauge
        object(id='ENG FUEL FLOW PPH:2' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml') 'ENG FUEL FLOW PPH:2' gauge
        object(id='ENG FUEL FLOW GPH:1' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml') 'ENG FUEL FLOW GPH:1' gauge
        object(id='ENG FUEL FLOW GPH:2' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml') 'ENG FUEL FLOW GPH:2' gauge

        object(id='RECIP MIXTURE RATIO:1' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml') 'RECIP MIXTURE RATIO:1' gauge
        object(id='RECIP MIXTURE RATIO:2' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml') 'RECIP MIXTURE RATIO:2' gauge
        object(id='ELEVATOR TRIM POSITION' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml') 'ELEVATOR TRIM POSITION' gauge
        object(id='GEAR TOTAL PCT EXTENDED' data='../../standardgauges/Garmin-generic-arc.svg', type='image/svg+xml') 'GEAR TOTAL PCT EXTENDED' gauge
        object(id='ELEVATOR TRIM POSITION' data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml') 'ELEVATOR TRIM POSITION' gauge
        object(id='TRAILING EDGE FLAPS LEFT ANGLE' data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml') 'TRAILING EDGE FLAPS LEFT ANGLE' gauge
        object(id='TRAILING EDGE FLAPS RIGHT ANGLE' data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml') 'TRAILING EDGE FLAPS RIGHT ANGLE' gauge
        object(id='RECIP ENG CYLINDER HEAD TEMPERATURE:1' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml') 'RECIP ENG CYLINDER HEAD TEMPERATURE:1' gauge
        object(id='RECIP ENG CYLINDER HEAD TEMPERATURE:2' data='../../standardgauges/Garmin-generic-line-single-horizontal.svg' type='image/svg+xml') 'RECIP ENG CYLINDER HEAD TEMPERATURE:2' gauge
        
        object#Gear-indicator(data='../../standardgauges/gear-indicator.svg', type='image/svg+xml') Gear-indicator

      .mfd
        object#Garmin-G5(data='../../standardgauges/Garmin-G5.svg', type='image/svg+xml') Garmin-G5
      .auxpages
