html{
  background: #000;
}
body{
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}
object{
  position: absolute;
}
#vsi{
  left: 2.5%;
  top: 2.5%;
  width: 20%;
  height: auto;
}
#alt{
  left: 25%;
  top: 35%;
  width: 40%;
  height: auto;
}
#Garmin-G5{
  left: 25%;
  top: 2.5%;
  width: auto;
  height: auto;
}
#RPM{
  left: 2.5%;
  top: 5px;
  width: auto;
  height: auto;
}
#N1{
  left: 2.5%;
  top: 170px;
  width: auto;
  height: auto;
}
#N2{
  left: 2.5%;
  top: 350px;
  width: auto;
  height: auto;
}