doctype html
head
  title B60T panel
  meta(name='mobile-web-app-capable' content='yes')
  meta(name='viewport' content='minimal-ui, width=device-width, initial-scale=1.0, user-scalable=yes')
  link(rel='stylesheet' href='panel.css')
  script(src='../../libs/jquery.min.js')
  script(src='../../libs/d3.3.min.js')
  script(src='../../libs/portable-sim-panels.js')
  script(src='../../libs/findSuitablePanel.js')
  script(type='text/javascript').
    let config = {};
    let path = window.parent.location.pathname.split("/");
    path.pop();
    path = path.join("/") + "/";
    $.getJSON(path + "config.json", function(json) {
    config = json;
    });
    let json;
    window.parent.addEventListener("update", eventHandler, true);
    function eventHandler(update) {
    json = update.detail;
    }
#GarminG3X
  object.atcBadge(data='Lancair-Legacy-ATC-badge.svg' type='image/svg+xml' style='margin:5px;max-width:150px;')
  .dme
    object#DME(data='../../standardgauges/Bendix-King_DME_KDI-573.svg' type='image/svg+xml')
  .mfd
    object#Garmin-G5(data='../../standardgauges/Garmin-G5-AP-bar.svg' type='image/svg+xml')
    object#Garmin-G5(data='../../standardgauges/Garmin-G5.svg' type='image/svg+xml')
    object#Garmin-G5(data="../../standardgauges/Garmin-G5-HSI.svg" type="image/svg+xml")
  .engine
    object#ENG_1_TORQUE(data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
    object#ENG_1_MANIFOLD_PRESSURE(data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
    object#GENERAL_ENG_1_OIL_PRESSURE(data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
    object#GENERAL_ENG_1_OIL_TEMPERATURE(data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
  .gearTrim
    object#GEAR_INDICATOR(data='../../standardgauges/gear-indicator.svg' type='image/svg+xml')
    object#ELEVATOR_TRIM_POSITION(data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
    object#TRAILING_EDGE_FLAPS_LEFT_PERCENT(data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
    object#TRAILING_EDGE_FLAPS_RIGHT_PERCENT(data='../../standardgauges/Garmin-generic-arc.svg' type='image/svg+xml')
